/*General Styles*/
body {
    margin: 0;
    background-color: #141414;
}
p {
    color: #d3d3d3;
    text-align: justify;
}
h3 {
    color:orange;
    margin-top: 10px;
}
h6 {
    color: orange;
    margin-top: 10px;
}
.text {
    color: white;
}
.bg-color {
    background-color: transparent;
}
/*Jumbotron Styles - index.html*/
.jumbotron {
    background-image: url("../img/jumbo.gif");
    background-position: center;
    background-size:cover;
}
.vertical-center {
    text-align: center;
    padding: 95px 0px;
}
.display {
    font-weight: 500;
    color:white;
}
/*Jumbotron Styles End*/
/*links / Button Styles*/
.nav-btn {
    width: 170px;
    color: white;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
}
.nav-btn:hover {
    color:orange;
    border: 1px solid orange;
    outline: none;
}
.link-btn {
    width: 160px;
    border: 1px solid orange;
    outline: none;
    background-color: transparent;
    margin-bottom: 10px;
}
.link-btn:hover {
    color:#d3d3d3;
    border: 1px solid #d3d3d3;
    outline: none;
}
a.nav-link {
    color: orange;
}
.link {
    color: orange !important;
}
.link:hover {
    color: #d3d3d3 !important;
}
/*Skills section*/
.img-shape {
    border-radius: 50%;
}
.logo {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 130px;
    width: 130px;
}
/*Skills section end*/
/*Portfolio section*/
.main-title {
    text-align: center;
}
#gallery img{
    height: 240px;
    width: 240px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow:1px 1px 3px 3px #888888;
}
/*Portfolio section end*/
/*Contact section*/  
.contact-info-items{
    color: lightgray;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 10px;
}
/*Contact section end*/
